/* Responsvie với PC, Tablet, Mobile */
/* 
    PC >= 1024px
    Tablet: >=740px & < 1024px
    Mobile: < 740px
*/
/* resposive.css Ghi de thuoc tinh css trong style.css vi link resposive.css dat sau */
/* -------------------------------------- */
/* Tablet (740px-1023px) */
@media (min-width: 46.25em) and (max-width:63.9375em){
    #content .content-section{
       /*Responsive mobile */
       max-width: 100%;
       padding: 64px 16px 112px;
       /*Ipad( max-width:100% manh hon width:800px -> keo 800px xuong 100% tablet(768px ipad))
         Them padding-left:16px; padding-right:16px
         Vi .row margin-left/right: 8px; -> ra ngoai 2 ben 8px-> them the cha 16px left/right 
       */ 
    }
    /* Review, fix UX */
    /* Text*/
        .contact-info{
        line-height: 2;
    }
      
}
/* Tablet (C2)*/
    /* #wrapper{
    overflow: hidden;
} */
/* -------------------------------------- */
/* PC */
@media (min-width: 1024px){
    
}
/* -------------------------------------- */
/* Mobile (739px)  */
@media (max-width: 46.1875em) {

    /** Mobile menu responsive*/
    #nav li {
        display: block;/* inline-block -> block*/ 
    }
    #header{
        /*overflow: Khi đối tuợng con vượt nó thì làm gì? hidden, visible,... */
        /*Do menu là display:block là trên xuống -> Menu Band, Tour, Contact tràn xuống -ẩn  */
        overflow: hidden; 
    }
    #header .mobile-menu-btn{
        display: block;/* Keo Tablets, PC an di ti-menu hien thi ti-search */  
    }
    #header .search-btn{
        display: none;/* Ẩn nút search trên menu */
    }
    
    /** Mobile menu fix bug: */
    /** Fix Icon menu bị lệch và Chỉ hiện thị nút icon menu trên mobile, ẩn đi trên PC, tablets (PC/tablets hiển thị icon search)*/   
    /* Fix Icon menu bị lệch xuong => Chỉ trên mobile luôn cho nav là display: block */
    #nav {
        display: block;
        width: 100%;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    /** Mobile submenu fix bug*/
    /** Bấm vào menu cấp 2 button (More)  -> Không ẩn menu, hiện submenu */
    #nav .subnav{
        position: inherit; /* Remove position:absolute tren PC nen Mobile ko can ->inherit */
       background-color: #333;
    }
    #nav .subnav a{
       color: #fff;
       padding: 5px 41px;/*** Tối thiểu 42px-48px -> Tay người dùng mới dễ tương tác */
    }
    #nav li a {
        padding: 1px 24px;
    }

    /* Content responsive */
    #content .member-name{
        font-size: 15px;
        text-align: center;
        width: 100%;
        margin-left: 1px;
        
    }
    .members-list .mobile-member-item{
        margin-top: 30px;
        width: 100% !important;
        text-align: center;
    }
    #content .member-img{
        width: 60%;
    }
    
    .tour-section .mobile-col-full{
        margin-top: 32px;
        width: 100%;/* Chi mobile, ko anh huong PC, tablets */
    }
    /* Contact form responsive */
    .contact-content .mobile-col-full{
        margin-top: 16px;
        width: 100% !important;; /*Chi mobile, ko anh huong PC, tablets */
    }
    .contact-content .mobile-input{
        margin-top: 8px !important;;
    }
    .mobile-btn{
        width: 100%;
        text-align: center;
    }
}
/* Review, fix UX */
    /* /* Tablet and mobile (1023px)*/
    @media (max-width: 63.9375em){
        /* button */
         .btn{
            padding: 15px 16px;
        }
        /* input */
        .contact-form .form-control{
            padding: 15px;
        }
        /* Text */
         .contact-form{
             margin-top: 32px;
             line-height: 2;
         }
        /* icon socials */
        #footer .socials-list{
            margin: 0 8px;
        }
        /* link */
        #footer .copyright a{
             padding: 12px 0px;
             display: inline-block;
        }
        /* menu */
        /* menu paren: 46px, menu child(12*3): 38px */
        #nav .subnav a{
             padding: 5px 12px;
        }
     }
 
 
